<header>


    <span    *ngIf="totalCount && totalCount"> Showing
       <strong>
       {{(this.pageNumber-1) * this.pageSize+1}} -
       {{this.pageNumber*this.pageSize
                   > this.totalCount
                   ? this.totalCount 
                   : this.pageNumber * this.pageSize
                   
      }}
 

    </strong> of <strong>{{this.totalCount}}</strong> Results</span>
    <span    *ngIf="totalCount === 0">
      Sorry !! there are <strong>No</strong> result.

    </span>



  </header>
