.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: rgb(196, 10, 10);
    color: white;
    text-align: center;
    top: -9px;
    right:32px;
}

.p-2 {
 margin-right:50px;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: unset;
}